<!DOCTYPE html>
<html>

<head>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet">
    <title>Payment</title>
</head>

<body>

    <style type="text/css">
        body {
            height: 100vh;
            background: #1178B3;
        }
    </style>
    <form action="/auth" method="POST">
        <input type="text" name="email" value="<%= user.email %>" hidden>
        <input type="password" name="password" value="<%= user.password %>" hidden>
        <button type="submit" name="button" type="button" class="button_login">
            >> Chuyển về trang chủ >>
        </button>
    </form>
    <div class="container pt-5" style="width: 415px;">
        <div class="card">
            <ul class="nav nav-pills mb-3">
                <li><a href="#nav-tab-card" class="nav-link" data-toggle="pill"><i class="fa fa-credit-card"></i>Debit
                        Card</a></li>
                <li><a href="#nav-tab-paypal" class="nav-link" data-toggle="pill"><i class="fa fa-paypal"></i>Paypal</a>
                </li>
                <li><a href="#nav-tab-momo" class="nav-link" data-toggle="pill"><i class="fa fa-university"></i>Momo</a>
                </li>
            </ul>

            <div class="tab-content p-3">
                <div class="tab-pane fade show active" id="nav-tab-card">
                    <form action="/auth/payment/paymentcomplete" method="POST">
                        <div class="form-group">
                            <label>Full Name (on the card)</label>
                            <input type="text" class="form-control" name="">
                        </div>

                        <div class="form-group">
                            <label>Card Number</label>
                            <div class="input-group w-75">
                                <input type="number" class="form-control" placeholder="XXXX-XXXX-XXXX-XXXX" name="">
                                <div class="text-primary input-group mt-2">
                                    <i class="fab fa-cc-visa fa-2x"></i>
                                    <i class="fab fa-cc-mastercard fa-2x mx-3"></i>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Expriation</label>
                            <div class="input-group">
                                <input type="number" class="form-control" placeholder="MM" name="">
                                <input type="number" class="form-control" placeholder="YY" name="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>CVV <i class="fa fa-question-circle"></i></label>
                            <input type="number" class="form-control" name="cvv">
                        </div>

                        <input type="number" name="total" value="<%= total %>" hidden>
                        <input type="number" name="id" value="<%= userId %>" hidden>
                        <input type="number" name="orderId" value="<%= orderId %>" hidden>
                        <input type="text" name="firstName" value="<%= firstName %>" hidden>

                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary" type="button">Confirm</button>
                        </div>
                    </form>
                </div>

                <div class="tab-pane fade text-center" id="nav-tab-paypal">
                    <p class="text-left">Paypal is the easiest way to pay online</p>
                    <button type="button" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>Login to
                        Paypal</button>
                    <p class="mt-3">or</p>
                    <button type="button" class="btn btn-primary"><i class="fas fa-user"></i>Create new account</button>
                </div>

                <div class="tab-pane fade text-center" id="nav-tab-momo">
                    <img src=<%=src%> alt="QR Code Image">
                    <p>Scan the QR Code to complete payment!</p>
                    <br>
                    <p class="text-middle">Momo QR payment</p>
                </div>

            </div>
        </div>
    </div>

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/js/mdb.min.js"></script>
</body>

</html>